body{
    background-color: aliceblue;
    color: darkslategrey;
    margin: 5px;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header{
text-align: center;
}
h1{
    text-align: right;
    padding: 50px; 
}
h2{
    color: black;
    background-color: whitesmoke;
    text-decoration-line: underline;
    text-indent: 8ch;
    text-align: left;

}
h2::ul{
background-color: blue;
}
h2::first-letter{
    color:black ;
}
h3,
footer{
    color: black;
    background-color: whitesmoke;
    text-decoration-line: underline;
    text-indent: 8ch;
text-align: center;
}
    main{
        text-align: right;
        text-align: justify;
    }
p{
text-align: justify;
text-align:left ;
text-indent: 8ch;
background-color: whitesmoke;
}
 p::first-letter{
font-size: 120%;
color: aqua;
} 
ul{
background-color: white;
}
.letter1{
    color: black; 
    text-decoration-line: underline;
    font-size: 120%;
}
aside{
background:white;
padding: 100px;
width: 200px;
float: left;
}